.media_card {
    position: relative; 
    background-image: url('../../../../public/pulp.jpg');
    background-size: cover;         
    background-repeat: no-repeat; 
    overflow: hidden;
    transition: transform 0.55s;
    margin: 1rem;
    padding: 110px 100px;
    border: 10px solid #5a2f0b;
}

.media_card:hover {
    z-index: 2; 
    transform: translateY(-5px);
    padding: 120px 110px;
    margin: 0.5rem;
    border: 8px solid #5a2f0b;
}

.media_card_click{
    z-index: 2; 
    transform: translateY(5px);
    padding: 110px 100px;
    margin: 1rem;
    border: 10px solid #5a2f0b;
}

.media_card_click:hover{
    z-index: 2; 
    transform: translateY(5px);
    padding: 110px 100px;
    margin: 1rem;
    border: 10px solid #5a2f0b;
}

.media_info{
    position: absolute;
    bottom: 0;           /* cola na parte de baixo */
    left: 0;
    width: 100%;
    background-color: #9c683c;
    color: white;
    text-align: center;
    padding: 15px;
    opacity: 0;
}

.media_card:hover .media_info{
    opacity: 0.7;
}
