.media_card {
  width: 200px;
  height: 280px;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease-in-out;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: #a97450;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  background-repeat: no-repeat;
}

.media_card:hover {
  z-index: 2;
  transform: translateY(-5px);
  margin: 0.5rem;
  border: 8px solid #5a2f0b;
}

.media_card_click {
  transform: scale(0.98);
  border: 10px solid #5a2f0b;
  margin: 1rem;
}

.media_info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #9c683c;
  color: white;
  text-align: center;
  padding: 12px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.media_card:hover .media_info {
  opacity: 0.85;
}
