.button{
    background-color: #9c683c;
    border: 2px solid black;
    padding: 8px 15px;
    border-radius: 10px;

}

.button:hover{
    background-color: #d69b6a;
    border: 2px solid rgb(82, 80, 80);
    cursor: pointer;
}